
body {
  margin: 0;
  font-family: Merriweather, serif;
  font-size: 16px;
}

.title {
  font-family: "Montserrat-Black";
  font-size: 2rem;
  color: black;
}

nav {
  background-color: rgb(101, 255, 101);
  color: black;
  margin-right: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

a:hover {
  text-decoration: underline;
}

.top-container {
  background-color: rgb(29, 236, 29);
  padding: 20px;
  text-align: center;
}

.heading {
  font-size: 4rem;
}

.top-container img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.hireme-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #fff;
  color: green;
  border: 2px solid green;
  text-decoration: none;
}

.middle-container img {
  width: 100%;
  height: auto;
}

.whitebox {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #fff;
  text-align: center;
  margin: 20px auto;
}

.whitebox h1 {
  font-size: 2rem;
  color: rgb(16, 238, 16);
}

.whitebox p {
  font-size: 1.5rem;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }

  .hireme-btn {
    padding: 8px 16px;
    font-size: 1.2rem;
  }
}