body {
  margin: 0%;
  font-family:Merriweather, serif;
  font-size: 80px;
  
}

.top-container{

      background-color: rgb(62, 224, 62);
   
    height: 900px;
   
    position: relative;
     padding-top: 1000px;
     padding-bottom: 900px;
     margin:auto
  
  }

 



  .whitebox{
    background-color:  whitesmoke;
    height: 600px;
    width: 2500px;
    position: absolute;
    padding-top: 9.5%;
    padding-bottom:20%;
    padding-right: 9.5%;
    padding-left: 9.5%;

  font-size: 50rem;
    margin: auto;
    top: 20%;
    left: 10%;
    right: 90px;
    text-align: center;
   
    
  }

  .image{
    width: 100%;
   position: relative;

     }
    img{
      width: 100%;
      height: auto;
      display: block;
      
    }

  
  
  
  h2{
    font-family:Merriweather, serif; 
  }

 


    h1 {
      font-size:14rem;
        color:black;
        width: 10%;
        
        position: relative;
        
         top:80px;
         left:5%;
        white-space: nowrap;
   
       
    }


    
    h2{
      margin-left: 10px;
    }
    
    h3{
      font-size:11rem;
      color: black;
      width: 50%;
      display: block;
      font-weight: 400;
       position: relative;
      left:5%
     
    }

    p{
      font-family:Merriweather, serif; 
    font-size: 120px;
    color: black;
    }

    .skills{
      left: 600px;
      top: 700px;
     position: absolute;
      height:1000px;
      width:1600px;
      background-color:  rgb(62, 224, 62);
      font-size: 40rem;
      padding-left: 200px;
     
    }
  
   

  
    .container{
      font-family:Merriweather, serif; 
      margin:auto;
  background-color:whitesmoke
    top: 0px;
    height: 1500px;
    padding: 300px;
   position: relative;
        }


    .contact-me{
 background-color:  rgb(62, 224, 62);;
   height: 1000px;
   position: relative;
     padding-top: 200px;
    }


  .hello{
    font-family:Merriweather, serif; 
  }
    

 
  