body {
  margin: 0%;
  font-family:Merriweather, serif;
  font-size: 30px;
  
}

.top-container{

      background-color: rgb(62, 224, 62);
   
    height: 900px;
   
    position: relative;
     padding-top: 300px;
  }

  .greenbox{
    background-color:  rgb(62, 224, 62);
    height: 500px;
    width: 1000px;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    border: 30px;
    margin: auto;
    margin-top: 300px;
    margin-bottom:500px;
    overflow-wrap: break-word;
    font-size: 20px;
    
  }
  
  h2{
    font-family:Merriweather, serif; 
  }

 


    h1 {
      font-size:9rem;
        color:black;
        width: 10%;
        margin: auto ;
        right: 900px;
        position: relative;
        
        white-space: nowrap;
        top:100px;
    }

    
    h2{
      margin-left: 10px;
    }
    
    h3{
      font-size:6rem;
      color: black;
      width: 50%;
       margin: 0 auto ;
      font-weight: 400;
       position: relative;
      right:400px;
      top:120px;
      display: inline block;
    }

    p{
      font-family:Merriweather, serif; 
    font-size: 40px;
    color: black;
    }

   

  
    .skills{
      font-family:Merriweather, serif; 
 
      background-color: rgb(62, 224, 62);
   
    height: 1000px;
   
    position: relative;
     padding-top: 200px;
    }

    .contact-me{


      background-color: white;
   
    height: 1000px;
   
    position: relative;
     padding-top: 200px;
    }

  .hello{
    font-family:Merriweather, serif; 
  }
    

 
  